
@{
    ViewData["Title"] = "View";
}

<h2>Lista sprzętów</h2>

<a asp-action="Create" class="btn btn-primary">Dodaj nowy sprzęt</a>
<table class="table">
    <thead>
        <tr>
            <th>Nazwa Sprzętu</th>
            <th>Magazyn</th>
            <th>Data Wstawienia</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.NazwaSprzetu</td>
                <td>@item.NazwaMagazynu</td>
                <td>@item.DataWstawienia.ToString("yyyy-MM-dd")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edytuj</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>

