@{
    ViewData["Title"] = "View";
}

<h2>Lista personelu</h2>

<a asp-action="Create" class="btn btn-primary">Dodaj personel</a>
<table class="table">
    <thead>
        <tr>
            <th>Imie</th>
            <th>Nazwisko</th>
            <th>Wiek</th>
            <th>Stopień</th>
            <th>Przynależność do magazynu</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Imie</td>
                <td>@item.Nazwisko</td>
                <td>@item.Wiek</td>
                <td>@item.Stopien</td>
                <td>@item.PrzynaleznoscDoMagazynu</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edytuj</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>

