@model Projekt_bazy.Models.Personel

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Sprzet</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Imie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Wiek)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stopien)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrzynaleznoscDoMagazynu)
        </dt>
    </dl>

    <form asp-action="View">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
